extends ../layouts/main-layout.pug

block content
    .details
        h1  #{product.title}
        hr
        img(src = product.imageURL)
        h2 #{product.price} 
        p #{product.description}
        if isAuthenticated
            form(action="/cart" method="POST")
                button.btn(type="submit") Add To Cart 
                input(type="hidden" name="_csrf" value= csrfToken )
                input(type="hidden" value=product._id name="productId")
                input(type="hidden" value=product.price name="productPrice") 